---
layout: editorial
title: "Publications"
permalink: /publications/
author_profile: false
---
<header class="publications-header">
  <div class="publications-title-row">
    <h1 id="publications-heading">Publications</h1>
    <p class="section-note">* denotes equal contribution · † denotes corresponding authors / equal advising</p>
  </div>
  <a class="text-link" href="{{ site.author.googlescholar | escape }}">Google Scholar</a>
</header>
<section class="publications-group" aria-labelledby="publications-heading">
  <div class="paper-list">{% for paper in site.data.publications %}{% include editorial-paper.html paper=paper number=forloop.rindex %}{% endfor %}</div>
</section>
